@use "styles/Variables.scss";

.training-program-wrapper {
    display: flex;
    justify-content: center;

    .training-program-content {
        padding: 0 25px;
        max-width: var(--desktop-max-width);
        width: 100%;
        color: var(--color-dark);
        margin-bottom: 120px;
        h1 {
            margin-bottom: 50px;
            text-align: center;
        }
    }
}
