@use "styles/Variables.scss";

.training-programm-wrapper {
    margin-top: 120px;
    display: flex;
    justify-content: center;

    .training-programm-content {
        margin: 50px 0;
        padding: 0 25px;
        max-width: var(--desktop-max-width);
        width: 100%;
        color: var(--color-dark);

        h1 {
            margin-bottom: 50px;
            text-align: center;
        }
    }
}