@use "styles/Variables.scss";

.personal-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
  min-width: 255px;
  padding-top: 40px;
  color: var(--color-light);
  &:hover::before {
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.06), 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    min-width: 255px;
    background-color: red;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: all 300ms ease-in-out;
  }
  .avatar {
    overflow: hidden;
    border-radius: 200px;
    object-fit: cover;
    width: 175px;
    height: 175px;
    border: 2px solid var(--color-light);
    margin-bottom: 30px;
    filter: drop-shadow(0px 77px 31px rgba(21, 28, 30, 0.01)) drop-shadow(0px 43px 26px rgba(21, 28, 30, 0.05))
      drop-shadow(0px 19px 19px rgba(21, 28, 30, 0.09)) drop-shadow(0px 5px 11px rgba(21, 28, 30, 0.1))
      drop-shadow(0px 0px 0px rgba(21, 28, 30, 0.1));
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .position {
    margin-bottom: 15px;
    font-size: 22px;
    z-index: 1;
  }
  .full-name {
    font-size: 16px;
    z-index: 1;
  }
}
