.career-label {
  margin-top: 120px;
  height: 300px;
  background: linear-gradient(90deg, rgba(70, 116, 131, 0.9), rgb(255, 255, 255, 0.4), rgba(70, 116, 131, 0.9)),
    url('../../assets/images/careerop_300.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media screen and (max-width: 986px) {
    font-size: 28px;
    align-content: center;
    justify-content: center;
  }
  .pre-label,
  .after-label {
    filter: drop-shadow(0 0px 15px rgb(255, 255, 255)) drop-shadow(0 0px 15px rgb(255, 255, 255));
  }
  .pre-label {
    margin-right: 20px;
    color: var(--accent-color);
  }
  .after-label {
    color: rgba(45, 70, 78, 1);
  }
}
.career-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
  padding: 0 25px;
  .no-opportunities {
    margin-bottom: 25px;
  }
  .new-career-opportunity-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: var(--color-dark);
    .add-new-job-button {
      margin-bottom: 45px;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
          scale: 1;
        }
      }
    }
    .salary-checkbox {
      width: 100%;
      display: flex;
      justify-content: start;
    }
  }
  .job-card-wrapper {
    width: 100%;
    max-width: 900px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 20px 30px;
    margin-bottom: 45px;
    overflow-x: auto;
    color: var(--color-dark);
    transition: all 300ms ease;
    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .job-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      margin-bottom: 25px;
      padding-left: 0;
      .description {
        display: flex;
        overflow: hidden;
        max-height: 25px;
        transition: max-height 200ms ease;
        white-space: pre-wrap;
        word-wrap: break-word;
        .description-label {
          margin-right: 10px;
          font-weight: 600;
        }
      }
      .description-more {
        max-height: 500px;
        overflow: auto;
        @media screen and (max-width: 500px) {
          display: flex;
          flex-direction: column;
        }
      }
      .read-more-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 10px;
        div {
          transition: all 200ms ease;
          cursor: pointer;
          &:hover {
            font-weight: 600;
          }
        }
      }
      .job-card-position,
      .job-card-salary,
      .job-card-location {
        display: flex;
        margin-bottom: 20px;
        p {
          margin-right: 10px;
          font-weight: 600;
        }
      }
    }
    .button-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin-bottom: 20px;
      width: 100%;
      .fill-out-form-button {
        text-align: center;
        justify-self: center;
      }

      .manage-buttons {
        display: flex;
        .delete-job-button,
        .edit-job-button {
          width: 35px;
          height: 35px;
          margin-right: 15px;
          justify-self: center;
          transition: scale 200ms ease;
          cursor: pointer;
          &:hover {
            scale: (1.1);
          }
        }
      }
    }
  }
  .pagination-buttonbox {
    display: flex;
    justify-content: center;
    button {
      margin: 0 5px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 20px;
      color: var(--color-dark);
      transition: scale 200ms ease;
      transition: all 200ms ease;
      padding: 5px 10px;
      &:hover {
        background-color: var(--accent-color);
        border-radius: 10px;
        color: #fff;
      }
      &:disabled {
        cursor: auto;
        &:hover {
          scale: 1;
          background-color: transparent;
          color: var(--color-dark);
        }
      }
    }
    .active {
      background-color: var(--accent-color);
      border-radius: 10px;
      color: #fff;
      font-weight: 600;
    }
  }
  .filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    .MuiInputBase-root {
      border-radius: 15px;
    }
    .MuiFormControl-root {
      background-color: var(--color-light);
      width: 200px;
      color: var(--color-dark);
      .MuiChip-root {
        background-color: var(--color-primary);
      }
      .MuiFormLabel-root {
        color: var(--color-dark);
      }
    }
  }
}
.vh100 {
  height: 100vh;
}
.MuiPaper-root {
  margin-top: 20px;
  border-radius: 15px !important;
  background-color: var(--second-color-dark) !important;
  li {
    color: var(--color-dark);
    svg {
      fill: var(--color-dark);
    }
  }
}
