@use "styles/Variables.scss";

.training-wrapper {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .training-main-title {
        text-align: center;
        margin-bottom: 45px;
        color: var(--color-light);
        background-color: var(--main-color);
        width: 100%;
        padding: 50px 15px;
        display: flex;
        justify-content: center;

        .training-main-title-content {
            width: var(--desktop-max-width);
            font-size: 18px;
            .training-label {
                font-size: 20px;
            }
            .training-ps {
                text-align: left;
                margin-bottom: 40px;
            }
            .training-price-box {
                border-radius: 10px;
                font-weight: 600;
                font-size: 20px;
                width: fit-content;
                padding: 10px 20px;
                margin: 25px 0 25px 20px;
                background-color: var(--accent-color);
            }
        }

        .training-list {
            text-align: left;
        }
    }

    .training-content-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .trainig-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: var(--desktop-max-width);
            .training-title {
                text-align: center;
                margin: 40px 0 80px 0;

                h1 {
                    text-transform: capitalize;
                    color: var(--color-dark);
                }
            }

            .trining-contact-wrapper {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                margin-bottom: 60px;
                @media screen and (max-width: 900px) {
                    flex-wrap: wrap;
                }
                .training-photos {
                    margin: 0 15px;
                    width: 100%;
                    max-width: 550px;
                    img {
                        width: 100%;
                        filter: drop-shadow(0 7px 10px rgba(0, 0, 0, 0.2));
                        @media screen and (max-width: 900px) {
                            margin-bottom: 40px;
                        }
                    }
                }

                .contact-form {
                    margin: 0 15px;
                    min-width: 650px;
                    overflow-y: hidden;
                    min-height: 800px;
                    border-radius: 10px;
                    overflow-x: hidden;
                    @media screen and (max-width: 720px) {
                        min-width: 100%;
                        height: 800px;
                    }
                    .my-iframe {
                        height: 100%;
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
    }
}
